absl-py==1.0.0
aiohttp==3.8.1
aiohttp-retry==2.4.6
aiosignal==1.2.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
asyncssh==2.8.1
atpublic==3.0.1
attrs==21.4.0
backcall==0.2.0
black==22.1.0
bleach==4.1.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cryptography==36.0.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dictdiffer==0.9.0
diskcache==5.4.0
distlib==0.3.4
distro==1.7.0
dpath==2.0.6
dulwich==0.20.32
dvc==2.9.5
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.2
filelock==3.6.0
flasgger==0.9.5
Flask==2.0.3
flatbuffers==2.0
flatten-dict==0.4.2
flufl.lock==7.0
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.2.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.5.0
google-api-python-client==2.38.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.55.0
grandalf==0.6
grpcio==1.44.0
gunicorn==20.1.0
h5py==3.6.0
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.2
importlib-resources==5.4.0
iniconfig==1.1.1
-e git+ssh://git@github.com/Nix-code/Insurance-premium-prediction-Ineuron.git@90dba7c7b1de2e174bc24677b6dc0c14774b54b2#egg=insurance
ipykernel==6.9.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.0
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
mailchecker==4.1.13
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
MouseInfo==0.1.3
multidict==6.0.2
mypy-extensions==0.4.3
nanotime==0.5.2
nbclient==0.5.10
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
notebook==6.4.8
numpy==1.22.2
oauth2client==4.1.3
oauthlib==3.2.0
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
phonenumbers==8.12.43
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
pluggy==1.0.0
ply==3.11
prometheus-client==0.13.1
prompt-toolkit==3.0.27
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser==2.21
pydot==1.4.2
PyDrive2==1.10.0
PyGetWindow==0.0.9
pygit2==1.9.0
Pygments==2.11.2
pygtrie==2.4.2
PyMsgBox==1.0.9
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
PyRect==0.1.4
pyrsistent==0.18.1
PyScreeze==0.1.28
pytest==7.0.1
python-benedict==0.25.0
python-dateutil==2.8.2
python-fsutil==0.6.0
python-slugify==6.1.0
python3-xlib==0.15
pytweening==1.0.4
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
requests==2.27.1
requests-oauthlib==1.3.1
rich==11.2.0
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.0.2
scipy==1.8.0
scmrepo==0.0.7
seaborn==0.11.2
Send2Trash==1.8.0
shortuuid==1.0.8
shtab==1.5.3
six==1.16.0
sklearn==0.0
smmap==5.0.0
-e git+ssh://git@github.com/Nix-code/wine-test.git@c0359e5b5fc2aa3221e9f381764b273b79edbee7#egg=src
stack-data==0.1.4
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tornado==6.1
tox==3.24.5
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.8
virtualenv==20.13.2
voluptuous==0.12.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
widgetsnbextension==3.5.2
wrapt==1.13.3
xgboost==1.5.2
xmltodict==0.12.0
yarl==1.7.2
zc.lockfile==2.0
zipp==3.7.0
