<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance price prediction web application</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static//img/insurance-logo.png">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/static/img/insurance-logo.png" alt="">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                 
                </ul>
            </nav>
        </div>
        
    </header>

    <div class="section-body">
        <div class="insurance-detail">
           <h2>Insurance price prediction</h2>
           
            <form action="">
                <input type="text" name="" id="" placeholder="">
                <input type="text" name="" id="" placeholder="">
                <input type="text" name="" id="">
                <input type="text" name="" id="">
                <input type="text" name="" id="">
                <input type="text" name="" id="">
                <input type="submit" value="Predict" name="" id="">
            </form>

        </div>
        <div class="img-insure">
            <img src="/static/img/home.png" alt="">
        </div>
    </div>


</body>

</html>