@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&family=Open+Sans&family=Poppins:wght@400;600;800&family=Raleway:wght@200;300;400;500&family=Roboto:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Raleway', sans-serif;
   background-color: #f7f9fa;
    
}
.container img{
    width: 50px;
    height: auto;
}
a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.7rem;
    color:rgb(9, 13, 121);
}
a:hover{
    color: rgb(109, 109, 247);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 7vh;
    
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin: 3.4rem;
    
}


.section-body{
    display: flex;
    justify-content: center;
}

.insurance-detail{
    width: 30%;
    margin-right: 13%;
    margin-top: 6%;
}

input[type=text]{
    width: 100%;
    padding:12px 40px;
    margin: 1.2rem 0;
    display: block;
    border:1px solid #ccc;
    font-size: 1.7rem;
    border-radius: 4px;
    
}
.custom-style{
    width: 100%;
    padding:12px 40px;
    margin: 1.2rem 0;
    display: block;
    border:1px solid #ccc;
    font-size: 1.7rem;
    border-radius: 4px;
}
option{
    font-size: 1.6rem;
}
input[type=submit]{
    width: 50%;
    background-color: #060570;
    color:white;
    padding: 14px 20px;
    margin:8px 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.3rem;

}
input::placeholder{
    font-size: 1.7rem;
    color:rgb(116, 115, 115);
   
}

h2{
    font-size: 2.6rem;
    font-weight: 800;
    color:rgb(2, 2, 122);
    line-height: 34px;
}

.response-me{
    width: 80%;
    padding: 30px 50px;
    font-size: 2.2rem;
    color: #060570;
    background-color: rgb(196, 220, 252);
    margin-top: 2rem;
    border-radius: 20%;
}

@media screen and (max-width:1118px){

    .section-body{
        display: block;
        justify-content: center;
    }
    .insurance-detail{
        width: 70%;
        margin-left: 15%;
        margin-top: 6%;
    }
    .container img{
        width: 25px;
    }
    .container{
        width: 100%;
    }
    input[type=submit]{
        width: 100%;
        
    
    }
    a{
        font-size: 1.4rem;
    }
    h2{
        font-size: 2rem;
    }
.response-me{
    width: 100%;
}
}